* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: rgba(245, 245, 245, 0.863); }

.cus-head {
  padding-top: 20px;
  background-color: #666;
  color: #b3b1b1; }

.cus-logo {
  display: flex;
  justify-content: start; }
  .cus-logo h2 {
    color: white; }

.cus-home {
  display: flex;
  justify-content: center; }

.cus-login {
  display: flex;
  color: #b3b1b1;
  justify-content: end; }
  .cus-login ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #b3b1b1; }

#cus-li {
  margin-left: 20px; }

.cus-container {
  padding: 0;
  border: 1px solid rgba(133, 131, 131, 0.493);
  border-radius: 5px;
  box-shadow: 0 0 1px;
  background-color: white; }

.cus-title {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 3% 3%;
  background-color: whitesmoke;
  width: 100%;
  text-transform: uppercase;
  color: #3d3c3c;
  border-bottom: 1px solid rgba(133, 131, 131, 0.486); }

.cus-form {
  padding-top: 20px;
  padding: 3% 3%; }

.cus-text {
  height: 50px;
  border: 1px solid rgba(133, 131, 131, 0.493);
  border-radius: 5px;
  padding-left: 2%; }

.cus-submit {
  height: 50px;
  margin-bottom: 5px; }

.todo-list {
  height: 50px;
  border: 1px solid rgba(133, 131, 131, 0.493);
  border-radius: 5px;
  padding-left: 2%;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 5px; }

.cus-span {
  color: #3d3c3c;
  margin-left: 5px; }
